@{
    ViewData["Title"] = User.FindFirst("DisplayName")?.Value;
    var profilePictureUrl = User.FindFirst("ProfilePicture")?.Value;
}

<div class="container" style="padding-top:100px" >
    <h1 style="padding-bottom:30px">Profile Page</h1>
    <div style="display:flex ; align-items:flex-start">
        <div style="padding-right:50px">
            <img src="~/images/profiles/@profilePictureUrl" alt="Profile Picture" style="height:150px ; width:100px" />
        </div>
        <div>
            <h3>Hello @ViewData["Title"]!</h3>
        </div>
    </div>

</div>
