@model ProductDetailsViewModel
@{
    ViewData["Title"] = "Product Details";
}


<div style="padding-top: 150px;">
    <partial name="/Views/Partials/_BigImg.cshtml" />
    <partial name="/Views/Partials/_ProductDetails.cshtml" />
</div>
