@model ProductRegisterViewModel
@{
    ViewData["Title"] = "Register new produkt";
}

<div class="d-flex justify-content-center" style="padding-top:200px">
    <div class="col-6">

        <form method="post" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <small><span asp-validation-for="Name" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <small><span asp-validation-for="Price" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="ImageUrl" class="form-label"></label>
                <textarea asp-for="ImageUrl" class="form-control"></textarea>
                <small><span asp-validation-for="ImageUrl" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <small><span asp-validation-for="Description" class="text-danger"></span></small>
            </div>



            <div class="mb-3">
                <label asp-for="SelectedCategoryIds" class="form-label"></label>
                <select asp-for="SelectedCategoryIds" asp-items="Model.CategorySelectListItems" multiple class="form-control"></select>
                <span asp-validation-for="SelectedCategoryIds" class="text-danger"></span>
            </div>





            <div class="grid mt-2">
                <button type="submit" class="btn btn-success">CREATE</button>
            </div>

        </form>

    </div>
</div>
