

<div class="section">
    <div class="container" style="padding-top: 150px">
        <div>
            <h1>BACKOFFICE</h1>
            <div>
                <a asp-controller="admin" asp-action="users">Users</a>
            </div>
            <div>
                <a asp-controller="admin" asp-action="products">Products</a>
            </div>
            <div>
                <a asp-controller="admin" asp-action="comments">Comments</a>
            </div>
        </div>

    </div>
</div>

