@{ ViewData["Title"] = "Admin"; }

<div>
    <a class="link" asp-controller="Products" asp-action="register">ADD NEW PRODUCT</a>
    <a class="link" asp-controller="" asp-action="">ALL USERS</a>
</div>