<section class="moreinfo">
    <div class="container">
        <div class="boxes">
            <button class="description">DESCRIPTION</button>
            <button class="info-button">ADDITIONAL INFO</button>
            <button class="info-button">REVIEWS (0)</button>
            <button class="info-button">SHIPPING & DELIVERY</button>
        </div>

        <h1>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</h1>

        <div class="box">
            <div class="text description">
                <p>Product description</p>
            </div>
            <div class="text additional-info">
                <p>Additional info content goes here.</p>
            </div>
            <div class="text reviews">
                <p>Reviews content goes here.</p>
            </div>
            <div class="text shipping-delivery">
                <p>Shipping & Delivery content goes here.</p>
            </div>
            <div class="image">
                <img src="./images/placeholders/469x356.svg" alt="">
            </div>
        </div>
    </div>
</section>
